.col-custom{
    @media(max-width:762px){
        border: none !important;
        padding-left: 0;
        padding-right: 0;
        
    }
}
img{
    transition: 0.3s;
    object-fit:cover;
}
img:hover{
    transform:scale(1.1);
}

.efecto{
    transition: 0.3s;
    object-fit:cover;
}
.efecto:hover{
    transform:scale(1.1);
    box-shadow: 0px 4px 4px 4px #c5c8d3;
}
