img{
    transition: 0.3s;
    object-fit:cover;
}
img:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 5px 5px #c5bcb7;
}

.borde:hover{
    transform:scale(1.0);
    box-shadow: 0px 0px 5px 5px #f0e8e3;
}