@media(min-width: 400px){
    .col-pro{
        display: flex;
        height:auto;
    }
}
@media(min-width: 600px){
    .col-pro{
        display: flex;
       
        max-width: 33.3%;
    }
}
@media(min-width: 1000px){
    .col-pro{
        display: flex;
        max-width: 25%;
        margin-bottom: 1rem;
    }
}