@media(min-width: 400px){
    .col-pro{
        display: flex;
        height:auto;
        
    }
}
@media(min-width: 500px){
    .col-pro{
        display: flex;
        column-gap: 2px;
        max-width: 50%;
        margin-bottom: 1rem;
    }
}
@media(min-width: 1000px){
    .col-pro{
        display: flex;
        max-width: 25%;
        margin-bottom: 1rem;
    }
}