<div class="bg-dark p-4 text-bg-primary d-flex">
  <div class="container d-flex justify-content-between">
    <p>Copyright &copy; 2024</p>
    <div class="d-flex">
      <a href="#" class="text-decoration-none me-3 text-light"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="#" class="text-decoration-none me-3 text-light"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="#" class="text-decoration-none me-3 text-light"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="#" class="text-decoration-none text-light"
        ><i class="fa-brands fa-google-play"></i> Descarga la app
      </a>
    </div>
  </div>
</div>
